<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FEND Capstone - Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <!--
  <link rel="stylesheet" href="/src/client/styles/mystyle.css">
-->

</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel Planner
    </div>
    <div>
      <label for="location">My trip to: 
        <input type="text" id="location">
      </label>
    </div>
    <div>
      <label for="date">Departure:
        <input type="date" id='date'>
      </label> 
    </div>
      <!--
              <textarea class="myInput" id="date" placeholder="Enter your departure date here (MM/DD/YYYY)" rows="9"
        cols="50"></textarea>
      -->

    <div>
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry">
      <div id="entryHolder">
        <div id="countryName"></div>
        <div id="high"></div>
        <div id="low"></div>
        <div id="description"></div>
        <div id="picture"></div>
      </div>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>

</body>

</html>