<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FEND Capstone - Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <!--
  <link rel="stylesheet" href="/src/client/styles/mystyle.css">
-->

</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel Planner
    </div>
    <div class="holder zip">
      <label for="location">My trip to </label>
      <input type="text" id="location" placeholder="Enter location here">
    </div>
    <div class="holder feel">
      <label for="date">What is your departure date?</label>
      <textarea class="myInput" id="date" placeholder="Enter your departure date here (MM/DD/YYYY)" rows="9"
        cols="50"></textarea>
    </div>
    <div>
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry">
      <div class="title">Result:</div>
      <div id="entryHolder">
        <div id="date2"></div>
        <div id="summary"></div>
        <div id="high"></div>
        <div id="low"></div>
        <div id="picture"></div>
      </div>
    </div>
  </div>


</body>

</html>